<div class="row marketing">
  <div ng-click="post(0)"> MSG 1 </div> <div ng-click="post(1)"> MSG 2 </div> <div ng-click="post(2)"> MSG 3 </div>
  <div ng-click="halt()"> STOP </div>
  <div ng-click="result()"> RESULT </div>
  <div>{{ res }}</div>
</div>
